<div class="reservation-header">
  <h2>填寫預約資料</h2>
  <h4>地址:高雄市前鎮區XX路一號</h4>
  <button (click)="find()">
    <span class="text">預約查詢</span>
    <div class="waving-hand">
      <mat-icon style="margin-top: 6.5px;">arrow_back</mat-icon>
    </div>
  </button>
</div>

<mat-card class="reservation-form">
  <mat-card-content>
    <!-- 日期區間 -->
    <mat-form-field appearance="fill">
      <mat-label>日期</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="form.date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- 時間選擇 -->
    <mat-form-field appearance="fill">
      <mat-label>抵達時間</mat-label>
      <input matInput [(ngModel)]="form.time" placeholder="HH:mm">
    </mat-form-field>

    <!-- 姓名 -->
    <mat-form-field appearance="fill">
      <mat-label>姓名</mat-label>
      <input matInput [(ngModel)]="form.name" placeholder="莓李茂">
    </mat-form-field>

    <!-- 電話 -->
    <mat-form-field appearance="fill">
      <mat-label>電話</mat-label>
      <input matInput [(ngModel)]="form.phone" placeholder="0912345678">
    </mat-form-field>

    <!-- 車牌 -->
    <mat-form-field appearance="fill">
      <mat-label>車牌</mat-label>
      <input matInput [(ngModel)]="form.carNumber" placeholder="ABC-1234">
    </mat-form-field>

    <!-- 備註 -->
    <mat-form-field appearance="fill">
      <mat-label>備註</mat-label>
      <textarea matInput [(ngModel)]="form.remark" placeholder="沒有的話填無"></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions style="justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="createReservation()">送出預約</button>
  </mat-card-actions>
</mat-card>